.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	text-align: center;

	h2 {
		font-size: 1.4rem;
		font-weight: 500;
	}

	h3 {
		font-size: 0.8rem;
	}

	&__pic {
		margin-bottom: 4px;

		img {
			border-radius: 34%;
			box-shadow: 0px 2px 4px 1px rgba($color: #000000, $alpha: 0.6);
		}
	}

	&__intro {
		text-align: center;
		margin-bottom: 20px;

		h2 {
			// font-size: 1.4rem;
			color: $mango-tango;
			margin-bottom: 4px;
		}

		h3 {
			// font-size: 0.8rem;
		}
	}

	button {
		width: auto;
		height: 24px;
		padding: 0px 10px;
		margin-bottom: 20px;
		border-radius: 12px;
		border-width: 0px;
		text-transform: uppercase;
		text-align: center;
		font-family: "Oswald", sans-serif;
		background-color: $light-gray;
		box-shadow: 0px 2px 2px 0px rgba($color: #000000, $alpha: 0.2);
	}

	&__stats {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70%;
		height: 50px;
		margin-bottom: 20px;
		border-radius: 14px;
		background-color: $light-gray;
		box-shadow: 0px 2px 2px 0px rgba($color: #000000, $alpha: 0.2);

		&-followers,
		&-following,
		&-articles {
			margin: 0px 20px;
		}
	}

	&__about {
		margin-bottom: 20px;

		h2 {
			color: $mango-tango;
		}
	}

	&__location {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70%;
		height: 50px;
		margin-bottom: 20px;
		border-radius: 14px;
		background-color: $light-gray;
		box-shadow: 0px 2px 2px 0px rgba($color: #000000, $alpha: 0.2);
	}

	&__photos {
		display: grid;
		grid-template-rows: auto repeat(4, 120px) 20px;
		grid-template-columns: 1fr 110px 10px 110px 1fr;
		grid-template-areas:
			". title title title ."
			". first first first ."
			". first first first ."
			". second second second ."
			". third . fourth ."
			". . . . .";
		justify-items: center;
		align-items: center;
		width: 70%;
		height: auto;
		margin-bottom: 30px;
		border-radius: 14px;
		background-color: $light-gray;
		box-shadow: 0px 2px 2px 0px rgba($color: #000000, $alpha: 0.2);

		h2 {
			grid-area: title;
			padding: 5px 0px;
		}

		img {
			border-radius: 8px;
			width: 100%;
			object-fit: cover;
		}

		.img-first {
			grid-area: first;
		}

		.img-second {
			grid-area: second;
		}

		.img-third {
			grid-area: third;
		}

		.img-fourth {
			grid-area: fourth;
		}
	}
}
