.mainsection-mainpage {
	display: grid;
	grid-template-columns: 4% 1fr 4%;
	grid-template-rows: 420px 20px 460px 30px 270px 40px 560px 60px;
	grid-template-areas:
		". highlights ."
		". . ."
		". highlighted-news-container ."
		". . ."
		". secondary-article ."
		". . ."
		". last-article ."
		". . .";
	height: auto;
	width: 100%;
	background-color: $soft-white;

	.highlights {
		grid-area: highlights;
		width: 100%;
		height: 100%;
		position: relative;

		.link {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			position: absolute;
			z-index: 0;
			object-fit: cover;
			object-position: 55% 0%;
		}

		.article-content {
			width: 100%;
			height: 100%;
			padding: 80px 10px 10px;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: absolute;
			color: $soft-white;
			text-transform: uppercase;
			text-align: center;
			background-color: $black-filter;

			h3 {
				padding: 12px;
				margin-bottom: 10px;
				font-family: "Lato", sans-serif;
				font-size: 1.8rem;
				font-weight: 700;
				background-color: $mango-tango;
			}

			h2 {
				margin-bottom: 152px;
				font-family: "Oswald", sans-serif;
				font-size: 2.6rem;
				font-weight: 500;
			}

			.article-actions {
				font-family: "Lato", sans-serif;
				font-size: 1.6rem;
				font-weight: 300;

				span {
					margin: 0px 4px;

					i {
						margin: 0px 8px;
					}
				}
			}
		}
	}

	.highlighted-news {
		grid-area: highlighted-news-container;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: auto;
		background-color: $soft-white;

		&__box {
			width: 100%;
			height: 100%;
			padding: 30px 24px;
			display: inline-flex;
			border-width: 1px;
			border-color: $light-gray;
			border-style: solid;
			font-family: "Lato", sans-serif;
			font-size: 2rem;
			font-weight: 400;
			border-radius: 8px;
			color: $black;
			background-color: $soft-white;

			span {
				margin-right: 20px;
				font-weight: 700;
				color: $black-coral;
			}

			.link-container {
				a {
					text-decoration: none;
					color: $black;
				}
			}
		}

		&__title {
			font-family: "Oswald", sans-serif;
			font-size: 1.4rem;
			font-weight: 200;
			text-transform: uppercase;
		}
	}

	.secondary-article {
		grid-area: secondary-article;
		width: 100%;
		height: 100%;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			position: absolute;
			z-index: 0;
			object-fit: cover;
			object-position: 55% 0%;
		}

		.article-content {
			width: 100%;
			height: 100%;
			padding: 30px 10px 10px;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			position: absolute;
			color: $soft-white;
			text-align: left;
			background-color: $black-filter;

			h3 {
				width: 30%;
				padding: 12px;
				position: absolute;
				top: 30px;
				left: 0;
				font-family: "Lato", sans-serif;
				font-size: 1.8rem;
				font-weight: 700;
				background-color: $mango-tango;
			}

			h2 {
				width: 100%;
				padding: 56px 100px 30px 20px;
				font-family: "Oswald", sans-serif;
				font-size: 2.4rem;
				font-weight: 400;
			}

			.article-actions {
				font-family: "Lato", sans-serif;
				font-size: 1.4rem;
				font-weight: 300;

				span {
					margin: 0px 4px;

					i {
						margin: 0px 8px;
					}
				}
			}
		}
	}

	.last-article {
		grid-area: last-article;
		padding: 20px 60px 40px 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 8px;
		color: $soft-white;
		background-color: $mango-tango;

		h1 {
			font-family: "Oswald", sans-serif;
			font-size: 3.4rem;
			font-weight: 700;
			text-transform: uppercase;
		}

		p {
			font-family: "Lato", sans-serif;
			font-size: 2rem;
			font-weight: 500;
		}

		a {
			width: 220px;
			height: 80px;
			padding-top: 20px;
			border-color: $soft-white;
			border-radius: 8px;
			border-style: solid;
			font-family: "Oswald", sans-serif;
			font-size: 1.6rem;
			font-weight: 500;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			color: $soft-white;
		}
	}
}
