.search-results {
	&__bar {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
		border-width: none;
		background-color: #ff8c42;
		background-image: linear-gradient(
			0deg,
			#ff8c42 0%,
			#ff8c42 30%,
			#ffffff 100%
		);

		.bar {
			// width: 200px;
			input {
				height: 30px;
				width: 240px;
				border-width: 0px;
				border-radius: 15px;
			}
		}
	}
}
