.mainsection-mainpage {
	display: grid;
	grid-template-columns: 4% 1fr 4%;
	// grid-template-rows: repeat(4, 1fr);
	grid-template-rows: 420px 500px 270px 500px;
	grid-template-areas:
		". highlights ."
		". highlighted-news-container ."
		". secondary-article ."
		". last-article .";
	height: auto;
	width: 100%;
	// z-index: 5;
	background-color: $black-coral;

	.highlights {
		width: 100%;
		height: 100%;
		margin-top: 16px;
		// padding-top: 16px;
		grid-area: highlights;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			position: absolute;
			z-index: 0;
			object-fit: cover;
			object-position: 55% 0%;
		}

		.article-content {
			width: 100%;
			height: 100%;
			padding: 80px 10px 10px;
			border-radius: 8px;
			display: flex;
			flex-direction: column;
			// flex-wrap: nowrap;
			align-items: center;
			position: absolute;
			color: $soft-white;
			text-transform: uppercase;
			text-align: center;
			background-color: $black-filter;

			h3 {
				padding: 12px;
				margin-bottom: 10px;
				font-family: "Lato", sans-serif;
				font-size: 1.8rem;
				font-weight: 700;
				background-color: $mango-tango;
			}

			h2 {
				margin-bottom: 152px;
				font-family: "Oswald", sans-serif;
				font-size: 2.6rem;
				font-weight: 500;
			}

			.article-actions {
				font-family: "Lato", sans-serif;
				font-size: 1.8rem;
				font-weight: 300;

				span {
					margin: 0px 4px;

					i {
						margin: 0px 8px;
					}
				}
			}
		}
	}

	// .highlights {
	// 	width: 100%;
	// 	height: 100%;
	// 	grid-area: highlights;
	// 	padding-top: 16px;
	// 	color: $soft-white;
	// 	// z-index: 0;

	// 	.article-content {
	// 		width: 100%;
	// 		height: 100%;
	// 		display: flex;
	// 		justify-content: center;
	// 		position: relative;
	// 		// background-color: $black-filter;

	// 		img {
	// 			width: 100%;
	// 			height: 100%;
	// 			position: absolute;
	// 			z-index: 0;
	// 			object-fit: cover;
	// 			object-position: 55% 0%;
	// 		}

	// 		&__cover {
	// 			position: absolute;
	// 		}
	// 	}

	// 	// .image-container {
	// 	// 	// width: 100%;
	// 	// 	// height: 100%;
	// 	// 	width: 50%;
	// 	// 	position: relative;
	// 	// 	img {
	// 	// 		width: 100%;
	// 	// 		height: 100%;
	// 	// 		object-fit: cover;
	// 	// 		object-position: 55% 0%;
	// 	// 	}
	// 	// }

	// 	// .article-content__cover {
	// 	// 	// width: 100%;
	// 	// 	// height: 100%;
	// 	// 	display: flex;
	// 	// 	justify-content: center;
	// 	// 	position: absolute;
	// 	// 	background-color: $black-filter;
	// 	// 	color: $soft-white;
	// 	// }
	// }

	.highlighted-news-container {
		grid-area: highlighted-news-container;
		width: 100%;
	}

	.secondary-article {
		grid-area: secondary-article;

		img {
			width: 100%;
		}
	}

	.last-article {
		grid-area: last-article;
	}
}
