@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Oswald:wght@200;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  font-size: 62.5%;
  font-family: sans-serif;
  overflow-x: hidden;
}

.header-mainpage {
  height: 90px;
  width: 100vw;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f9fafc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2.6px;
}

.header-mainpage .header-mainpage__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  margin-left: 10px;
}

.header-mainpage .header-mainpage__logo-container img {
  height: 60px;
  width: 250px;
}

.header-mainpage .header-mainpage__logo-container a {
  height: 60px;
  width: 250px;
  position: absolute;
}

.header-mainpage .header-mainpage__menu-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  position: absolute;
  left: calc(100% - 50px);
  background-image: url("https://img.icons8.com/ios-glyphs/30/000000/menu--v1.png");
}

.header-mainpage input {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  z-index: 2;
  cursor: pointer;
}

.header-mainpage input[type="checkbox"] {
  opacity: 0;
}

.header-mainpage input[type="checkbox"]:checked ~ .header-mainpage__navbar {
  visibility: visible;
}

.header-mainpage .header-mainpage__navbar {
  width: 100vw;
  position: absolute;
  margin-top: 370px;
  z-index: 2;
  visibility: hidden;
  background-color: #f9fafc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2.6px;
}

.header-mainpage .header-mainpage__navbar ul {
  margin-bottom: 10px;
  list-style-type: none;
}

.header-mainpage .header-mainpage__navbar ul li {
  margin-top: 10px;
  text-align: center;
}

.header-mainpage .header-mainpage__navbar ul li a {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #424651;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}

.header-mainpage .header-mainpage__navbar .header-mainpage__search {
  font-size: 2.6rem;
  color: #ff8c42;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px 1fr 10px;
      grid-template-columns: 10px 1fr 10px;
  -ms-grid-rows: 200px 10px 200px 10px 200px;
      grid-template-rows: 200px 10px 200px 10px 200px;
      grid-template-areas: "article-intro article-intro article-intro" ". . ." ". article-text ." ". . ." ". article-recommendations .";
}

.article-intro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: article-intro;
  height: 100%;
  width: 100%;
}

.article-intro__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-text {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: article-text;
}

.article-recommendations {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: article-recommendations;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.article-recommendations .article-recommendation {
  height: 100%;
  width: 30%;
}

.article-recommendations .article-recommendation img {
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  height: 200px;
  width: 100%;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #424651;
}

.footer .footer__logo-container {
  height: 80px;
  width: 80px;
}

.footer .footer__logo-container img {
  position: absolute;
  height: 80px;
  width: 80px;
  -webkit-transform: rotateZ(-26deg);
          transform: rotateZ(-26deg);
}

.footer .footer__logo-container a {
  position: absolute;
  height: 80px;
  width: 80px;
}

.footer .footer__social-media {
  width: auto;
  position: relative;
  font-size: 3rem;
}

.footer .footer__social-media a {
  margin: auto 10px;
  padding: 7px 40px 0px 0px;
  background-repeat: no-repeat;
}

.footer .footer__social-media a:nth-child(1) {
  background-image: url("../../../assets/icons/icon-insta.svg");
}

.footer .footer__social-media a:nth-child(2) {
  background-image: url("../../../assets/icons/icon-twitter.svg");
}

.footer .footer__social-media a:nth-child(3) {
  background-image: url("../../../assets/icons/icon-face.svg");
}
/*# sourceMappingURL=gaming-state__article.css.map */